edu_bxml_format.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="qualified"
  elementFormDefault="qualified" id="query"
  targetNamespace="edu.bxml.format" xmlns="edu.bxml.format"
  xmlns:app0="edu.bxml.io" xmlns:app1="com.browsexml.core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="edu.bxml.io" schemaLocation="edu_bxml_io.xsd"/>
  <xs:import namespace="com.browsexml.core" schemaLocation="com_browsexml_core.xsd"/>
  <xs:complexType name="ExecuteType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="sql" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="onZero" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="connection" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="SqlType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConnectionType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="sql"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="url" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="class" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="password" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="login" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExistsType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="queryName" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="true" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="false" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KeyType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="field" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="ReplaceType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="expression" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="replacement" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="FieldType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="replace"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="size" type="xs:integer">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="default" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="type">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="IMAGE"/>
              <xs:enumeration value="CHAR"/>
              <xs:enumeration value="NUMBER"/>
              <xs:enumeration value="TEXT"/>
              <xs:enumeration value="DATE"/>
              <xs:enumeration value="HIDDEN"/>
              <xs:enumeration value="MONEY"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute form="unqualified" name="delimit" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="outFormat" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="postText" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="preText" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="fieldName" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="headerName" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="padleft" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="padright" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="format" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="decimals" type="xs:integer">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="group">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="NONE"/>
              <xs:enumeration value="CONCAT"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HiddenFieldType">
    <xs:complexContent>
      <xs:extension base="FieldType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TextFieldType">
    <xs:complexContent>
      <xs:extension base="FieldType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NumberFieldType">
    <xs:complexContent>
      <xs:extension base="FieldType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CharFieldType">
    <xs:complexContent>
      <xs:extension base="FieldType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DateFieldType">
    <xs:complexContent>
      <xs:extension base="FieldType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FootFieldType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="select"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="size" type="xs:integer">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="type">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="COUNT"/>
              <xs:enumeration value="CONSTANT"/>
              <xs:enumeration value="DATE"/>
              <xs:enumeration value="LENGTH"/>
              <xs:enumeration value="SQL"/>
              <xs:enumeration value="CHAR"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute form="unqualified" name="padleft" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="padright" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="format" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="decimals" type="xs:integer">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="add" type="xs:integer">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HeaderType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="footField"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="columnsNames" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FooterType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="footField"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SelectType">
    <xs:complexContent>
      <xs:extension base="app0:FilterAJType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="key"/>
          <xs:element ref="replace"/>
          <xs:element ref="field"/>
          <xs:element ref="hiddenField"/>
          <xs:element ref="textField"/>
          <xs:element ref="numberField"/>
          <xs:element ref="charField"/>
          <xs:element ref="dateField"/>
          <xs:element ref="header"/>
          <xs:element ref="footer"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="archive" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="queryName" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="delimit" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="concatSep" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="filenameField" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="filename" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ImageFieldType">
    <xs:complexContent>
      <xs:extension base="FieldType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LoadType">
    <xs:complexContent>
      <xs:extension base="app0:FilterAJType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="imageField"/>
          <xs:element ref="field"/>
          <xs:element ref="numberField"/>
          <xs:element ref="charField"/>
          <xs:element ref="dateField"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="table" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="archive" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="connection" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="delimit" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="archiveName" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="deleteFirst" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="upperCaseHeader" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="printCreateTable" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="quoteText" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="printFieldValue" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="stopAfterErrors" type="xs:integer">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="truncateFirst" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="outputToFile" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="header" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="binaryData" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LoadBlobType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="table" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="archive" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="connection" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="filenameField" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="deleteFirst" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dataField" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExcelXmlType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="table" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="connection" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="truncateFirst" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="PropertyType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="text" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="PropertiesType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QueryType">
    <xs:complexContent>
      <xs:extension base="app0:FilterType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="execute"/>
          <xs:element ref="connection"/>
          <xs:element ref="exists"/>
          <xs:element ref="select"/>
          <xs:element ref="load"/>
          <xs:element ref="loadBlob"/>
          <xs:element ref="excelXml"/>
          <xs:element ref="property"/>
          <xs:element ref="properties"/>
          <xs:element ref="app0:pipe"/>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="ExcelDataType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GroupingType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="TypesType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="FootFieldTypesType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="LoadParameterType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="ParameterType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="ResultMetadataType">
    <xs:complexContent>
      <xs:extension base="app0:FilterType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="queryName" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TxtFileFilterType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="SyncOnArchiveType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0"/>
        <xs:attribute form="unqualified" name="fileEnding" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="liveDir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="liveDirRelativeArchive" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="archiveBase" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtilType">
    <xs:choice maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="XmlLoadType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="imageField"/>
          <xs:element ref="field"/>
          <xs:element ref="numberField"/>
          <xs:element ref="charField"/>
          <xs:element ref="dateField"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="table" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="file" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="archive" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="connection" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="delimit" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="deleteFirst" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="upperCaseHeader" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="printCreateTable" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="quoteText" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="printFieldValue" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="stopAfterErrors" type="xs:integer">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="truncateFirst" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="header" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="binaryData" type="xs:boolean">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="XmlSelectType">
    <xs:complexContent>
      <xs:extension base="app1:XmlObjectType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="key"/>
          <xs:element ref="replace"/>
          <xs:element ref="header"/>
        </xs:choice>
        <xs:attribute form="unqualified" name="archive" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="dir" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="queryName" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="delimit" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="concatSep" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="filenameField" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="filename" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="root" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute form="unqualified" name="record" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[ ]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="execute" substitutionGroup="app1:xmlObject" type="ExecuteType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sql" substitutionGroup="app1:xmlObject" type="SqlType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="connection" substitutionGroup="app1:xmlObject" type="ConnectionType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="exists" substitutionGroup="app1:xmlObject" type="ExistsType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="key" substitutionGroup="app1:xmlObject" type="KeyType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="replace" substitutionGroup="app1:xmlObject" type="ReplaceType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="field" substitutionGroup="app1:xmlObject" type="FieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="hiddenField" substitutionGroup="field" type="HiddenFieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="textField" substitutionGroup="field" type="TextFieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="numberField" substitutionGroup="field" type="NumberFieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="charField" substitutionGroup="field" type="CharFieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="dateField" substitutionGroup="field" type="DateFieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="footField" substitutionGroup="app1:xmlObject" type="FootFieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="header" substitutionGroup="app1:xmlObject" type="HeaderType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="footer" substitutionGroup="app1:xmlObject" type="FooterType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="select" substitutionGroup="app0:filterAJ" type="SelectType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="imageField" substitutionGroup="field" type="ImageFieldType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="load" substitutionGroup="app0:filterAJ" type="LoadType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="loadBlob" substitutionGroup="app1:xmlObject" type="LoadBlobType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="excelXml" substitutionGroup="app1:xmlObject" type="ExcelXmlType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="property" substitutionGroup="app1:xmlObject" type="PropertyType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="properties" substitutionGroup="app1:xmlObject" type="PropertiesType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="query" substitutionGroup="app0:filter" type="QueryType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="excelData" substitutionGroup="app1:xmlObject" type="ExcelDataType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="grouping" type="GroupingType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="types" type="TypesType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="footFieldTypes" type="FootFieldTypesType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="loadParameter" type="LoadParameterType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="parameter" type="ParameterType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="resultMetadata" substitutionGroup="app0:filter" type="ResultMetadataType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="txtFileFilter" type="TxtFileFilterType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="syncOnArchive" substitutionGroup="app1:xmlObject" type="SyncOnArchiveType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="util" type="UtilType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="xmlLoad" substitutionGroup="app1:xmlObject" type="XmlLoadType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="xmlSelect" substitutionGroup="app1:xmlObject" type="XmlSelectType">
    <xs:annotation>
      <xs:documentation><![CDATA[ ]]></xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>

